/* EarningCard.css */
.order-card {
  background: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 100px;
  height: 100px;
  width: 200px;
  padding-bottom:20px;
 
}

.icon {
  margin-right: 10px;
}

.icon svg {
  vertical-align: middle;
}

.content {
  flex: 0;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

.percentage {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.percentage span {
  color: green;
  margin-right: 1px;
}

.percentage svg {
  vertical-align: middle;
}
