/* TinyBarChart.css */
.tiny-bar-chart {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 300px;
    margin-top: 50px;
    background-color: #fcf6f6;
    list-style: none;
  }
  
  canvas {
    display: block;
    
    margin: 0;
  }
  